.Cards {
    display: flex;
    gap: 10px;
}
.parentContainer {
    width: 100%;
}
.CompactCard {
    padding: 20px;
    display: flex;
    height: 7rem !important;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
    position: relative;

}
.CompactCard :hover{
    box-shadow: none;
}
.radialBar{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.radialBar > span {
    position: relative;
    left:20px;
    font-weight: bold;
}

.details {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   /* position: relative;
   right: 1rem;
   gap: 0.5rem; */
   /* align-items: center; */
   /* gap: 0.5rem; */
   /* position: relative;
   right:  1rem; */

}
.details > span:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}

.details > span:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
}
.CircularProgressbar {
    overflow: visible;
    width: 6rem !important;
    height: 80px !important;
    
}
.CircularProgressbar-path {
  stroke: #e7e9eb !important;
  stroke-width: 8px;
  color: white !important;
  filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail {
    display: none;

}
.CircularProgressbar-text {
    fill: white !important;
    font-style: 17px !important;
    font-weight: bold !important;
}
.ExpandedCard {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  left: 13rem;
  justify-content: space-between;
  padding: 5px;
}
.ExpandedCard > span:nth-of-type(1) {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
}
.ExpandedCard > span:nth-of-type(2) {
    color: white;
    text-shadow: 0px 0px 15px white;
}